@import
url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900")
;

* {
   box-sizing: border-box;
   transition: all ease-in-out 250ms;
}

body {
    margin: 0;
    font-family: 'Raleway',sans-serif;
    text-align: center;
}
img {
    max-width: 100%;

    height: 500px;
}

.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
    content: '';
    display: block;
    clear: both;
}

[class^=col-] {
    float: left;
    padding:  0 .5em;
}

@media(min-width: 40rem) {


.col-3 {
    width: 100%;
}

.col-1 {
    width: 100%;
}
}
h1 {
    font-weight: 300;
    font-size: 1.7rem;
    margin-top: 0;
}

p {
    margin-top: 0;
    line-height: 1.5;
}

p:last-of-type {
    margin-bottom:0;
}


.title {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top: 1em;

}

.title span {
    font-weight: 300;
    display: block;
    font-size: .9em;
}

.unstyled-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (min-width:60rem ) {

    p {
        font-size: 1.2rem;
        line-height: 1.6;
    }

    .title{
        font-size: 3.7rem;
    }
}




.button {
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}


@media (min-width: 60rem) {
    .button{
    font-size: 1.5rem;
    }
}
.button-small {
    font-size: .7rem;
    font-weight: 700;
}

.button-accent {
    color: gray;
    border-color: cyan;
}

.button-accent:hover,
.button-accent:focus {
    background: teal;
    color: black;
    
}



header {
    position: absolute; 
    margin: 1em;
    left: 0;
    right: 0;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    color: darkblue;
}
nav a:hover,
nav a:focus {
    color: green; 
}

@media (min-width:60rem ) {
    .logo{
        float: left;

    }
    nav {
        float: right;
    }
}


.home-hero {
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;
    padding: 20em 5;
    color:yellowgreen;
}
@media (min-width: 60rem) {
    .home-hero {
        height:100vh;
        padding-top: 35vh;
    }

}


.home-about-textbox {
    background-color: gray;
    padding: 4em;
    width: 100vw;
    margin-left: -2.5%;
    outline: 2px solid blue;
    outline-offset: -2.5em;
    color: darkblue;
    position: relative;
}

.home-about-textbox h1 {
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: .75em;
    background:gray;
    padding: 0 .25em;

}
@media (min-width: 25rem) {
     h1 {
        font-size: 2rem;
    }
    .home-about-textbox h1 {
        top: .6em;
        padding: 0 .325em;
    }
}


@media (min-width: 60rem) {
    h1 {
       font-size: 2rem;
   }
   .home-about-textbox h1 {
       top: .75em;
       left: 6rem;
       transform: translateX(0);
   }

.home-about {
    background-image: url(../img/about.jpg);
    background-size: cover;
    padding-bottom: 10em;
    
}


.home-about-textbox { 
    width: 50%;
    padding: 7em;
    outline-offset: -3.75em;
    margin-left: -2.5%;
    top: -5em;
    text-align: left;
    box-shadow: 0 0 4em 0 rgba(0,0,0,.3);
    
}
}
.thingsivedone {
    margin: 3em 0 0;
}

.things-LoZ {
    margin: 0;
    position: relative;
}

.things-LoZ img {
    display: block;
}

.things-desc {
    position: absolute;
    z-index: 100;
    bottom: 0em;
    left: 0em;
    right: 0em;
    color: white;
    background: rgba(0,0,0,.75);
    padding-bottom: 2em;
    
}

.things-desc p {
    margin: 1em;

}

@media (min-width: 37rem) {
    .things-LoZ {
        width: 50%;
        float: left;
    }
}

@media (min-width: 60rem) {
    .things-LoZ {
        width: 33.3333334%;
        overflow: hidden;
        
    }
    .things-desc {
        transform: translateY(150%);
    }
    .things-LoZ:hover .things-desc {
        transform: translateY(0%);
    }
}

.cta {
    background-color: blue;
    padding: 5em 0;
}


footer {
    background: aqua;
    color: black;
    padding: 5em 0;
}